.nav-link {
    font-weight:700;
    margin: 5%;
}

.butão{
    margin-top: 2%;
}

.navbar-brand{
    margin-left: 5%;
}

.coluna-escrita{
    margin-top: 7%;
}

.coluna-escrita h1{
    font-size: 5rem;
    font-weight: 700;
}

#img-hero{
    max-height: 100vh;
}

#btn-lm{
    width: 30%;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
    height: 10%;
}

#btn-reg{
    border-radius: 10px;
    width: 100%;
}


@media only screen and (max-width: 600px){
    .navbar-registro{
        margin-left: 5%;
    }
    .coluna-imagem{
        display: grid;
        justify-content: center;
        order: 0;
    }
    #img-hero{
        text-align: center;
        height: 60vh;
        width: 100vw;
    }
    .coluna-escrita{
        margin-top: 5%;    
        text-align: center;
        order: 1; 
    }
    .btn{
        margin-bottom: 5%;
    }
    .imagens-rodape{
        justify-content: center;
        margin-bottom: 10%;
    }
    .rodape{
        width: 3rem;
    }
    #btn-lm{
        width: 50%;
        border-radius: 30px;
    }
    
}